 hkhural@HKMac  ~  ssh pi@192.168.13.124
pi@192.168.13.124's password: 
Linux raspberrypi 4.14.98+ #1200 Tue Feb 12 20:11:02 GMT 2019 armv6l

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/doc/*/copyright.

Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable law.
Last login: Thu Jun 20 08:07:48 2019 from 192.168.13.123
pi@raspberrypi:~ $ cd sprinkler/webapp/
pi@raspberrypi:~/sprinkler/webapp $ vi templates/hello.html 
pi@raspberrypi:~/sprinkler/webapp $ vi templates/scheduler.html
pi@raspberrypi:~/sprinkler/webapp $ vi templates/hello.html 
pi@raspberrypi:~/sprinkler/webapp $ vi templates/hello.html 
app.py     static/    templates/ 
pi@raspberrypi:~/sprinkler/webapp $ vi templates/scheduler.html
pi@raspberrypi:~/sprinkler/webapp $ vi templates/hello.html 








































  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>--!>
      <li class="nav-item">
        <a class="nav-link" href="#">Manual Run</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Scheduler</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>--!>
    </ul>
</div>
</nav>
<div class="container">
<h2>Scheduler</h2>
<iframe height="500" width="500" src="http://calendar.google.com"></iframe>
</div>

